<ol class="breadcrumb">
  <li><a href="<%= root_path%>">Principal</a></li>
  <li>Usuários</li>
</ol>
<%= painel_titulo("Usuário - #{@user.name}").html_safe %>
<div class="panel-body">
<p>Nome: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>

</div>
</div>