#encoding: utf-8
<ol class="breadcrumb">
  <li><a href="<%= root_path%>">Principal</a></li>
  <li class="active">Fases</li>
</ol>
<%= painel_titulo("Fases").html_safe %>
<div class="panel-body">
  <div class="span8">
    <div class="table-responsive">
      <table class="table table-condensed table-striped table-hover">
        <thead>
        <tr>
          <th>Curso</th>
          <th>Descrição</th>
          <th>Orçamento</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <div id="items">

                </div>

        </tbody>
      </table>
      <div class="row">
        <a data-toggle="modal" class="btn btn-success" href="#new-fase-nova"  type="button">Nova Fase</a>
        <%= render "fases/new_fase"%>
        <div class="col-md-offset-8">

        </div>
      </div>
    </div>
  </div>
</div>
</div>


<script type="text/javascript">
    $(document).ready(function()
            {
                $("#products").dataTable({
                    sPaginationType: "bootstrap"
                });
            }
    );
</script>