#encoding: utf-8
<div class="well">
  <div class="form-group">
    <%= f.label :arquivo,:class => "col-md-2 control-label" %>
    <%= f.file_field :arquivo, :class => "col-md-3",:placeholder => "Anexe o edital do curso"%><span onclick="$(this).parent().parent().remove();"  class="glyphicon glyphicon-trash" style="cursor: pointer;"></span>
  </div>
  <div class="form-group">
    <%= f.label :descricao,:class => "col-md-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :descricao,:class => "form-control", :autofocus => true,:placeholder => "Insira uma descrição para o anexo."%>
    </div>
  </div>
</div>