<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand" href="<%= root_path %>"><span class="glyphicon glyphicon-home"></span></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->

  <ul class="nav navbar-nav">
    <li class="active"><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li>Action</li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
        <li class="divider"></li>
        <li><a href="#">One more separated link</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contas<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="<%= users_path%>">Listar</a></li>
        <li><a href="#">Adicionar</a></li>
        <li><a href="#">Remover</a></li>
        <li><a href="#">Atualizar</a></li>
        <li class="divider"></li>
        <li><a href="#">Permissões</a></li>
      </ul>
    </li>
  </ul>

  <ul class="nav navbar-nav navbar-right">

    <form class="navbar-form navbar-left" role="Pesquisar">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Digite um texto">
      </div>
      <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
    </form>
  </ul>
</nav>
